<div class="dealer-footer">
    <div class="message-shadow"></div>
    <div class="row footer-container">
        <div class="col-lg-3 col-md-6 footer-logo">
            <a class="home-link" href="#">
                <span jhiTranslate="global.title" class="footer-title">WebDealer</span>
                <p jhiTranslate="global.subtitle" class="footer-subtitle"></p>
            </a>
        </div>
        <div class="col-lg-9 col-md-6 footer-content">
            <div class="footer-contact float-md-right">
                <span jhiTranslate="footer.title" class="footer-title">Kontakt</span>
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-map-marker"></i>&nbsp;
                            <strong jhiTranslate="footer.contact.address">Adres:</strong>
                            &nbsp;1234 Street Name, City Name, AB 12345
                        </a>
                    </li>
                    <li>
                        <a href="tel:1-800-123-4567">
                            <i class="fa fa-phone"></i>&nbsp;
                            <strong jhiTranslate="footer.contact.phone">Telefon:</strong>
                            &nbsp;1-800-123-4567
                        </a>
                    </li>
                    <li>
                        <a href="mailto:example">
                            <i class="fa fa-envelope-o"></i>&nbsp;
                            <strong jhiTranslate="footer.contact.email">Email:</strong>
                            &nbsp;sales@company.com
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="message-shadow"></div>
<div class="footer-desk">
    <a href="mailto:ddweb">Copyright © 2018 DDWeb.</a>
</div>
</div>

