<div class="row">
    <div class="col-xs-12 car-card">
        <a href="">
            <div [ngClass]="{'ribbon': true, 'red': car.broken,'blue': !car.broken}">
                <span [hidden]="car.broken">Sprawny</span>
                <span [hidden]="!car.broken">Uszkodzony</span>

            </div>
            <div class="title">
                {{car?.make}}&nbsp;{{car?.model}}
            </div>
            <img *ngIf="car.img" [src]="'data:' + car.imgContentType + ';base64,' + car.img" alt="podglad"
                 class="preview">
            <table class="primary-table">
                <tbody>
                <tr>
                    <td class="option primary">Wyposażenie</td>
                    <td class="spec">{{car?.version}}</td>
                </tr>
                <tr>
                    <td class="option primary">Pojemność</td>
                    <td class="spec">{{car?.capacity}}</td>
                </tr>
                <tr>
                    <td class="option primary">Przebieg</td>
                    <td class="spec">{{car?.mileage}}</td>
                </tr>
                <tr class="d-lg-none">
                    <td class="option primary">Rodzaj skrzyni</td>
                    <td class="spec">{{car?.gear}}</td>
                </tr>
                <tr class="d-lg-none">
                    <td class="option primary">Moc</td>
                    <td class="spec">{{car?.power}}</td>
                </tr>
                <tr class="d-md-none price-small">
                    <td class="option primary">Cena</td>
                    <td class="spec"><b>{{car?.price}} zł</b></td>
                </tr>
                </tbody>
            </table>
            <table class="secondary-table d-none d-lg-inline">
                <tbody>
                <tr>
                    <td class="option secondary">Rodzaj skrzyni</td>
                    <td class="spec">{{car?.gear}}</td>
                </tr>
                <tr>
                    <td class="option secondary">Moc</td>
                    <td class="spec">{{car?.power}}</td>
                </tr>
                </tbody>
            </table>
            <div class="price d-none d-md-inline">
                <b class="h-md-lg">Cena:</b>
                <br/>
                <div class="figure">
                    {{car.price}}zł
                    <br/>
                </div>
                <div class="vat">
                    Plus VAT
                </div>
            </div>
            <div class="view-details gradient-button">
                <i class="fa fa-plus-circle"></i>&nbsp;<span>Zobacz detale</span>
            </div>
        </a>
        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <div class="btn-group flex-btn-group-container float-left">
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/delete'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-danger btn-sm">
                    <span class="fa fa-remove"></span>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
