@import '../../../content/scss/variables';

@font-face {
    font-family: 'title';
    src: url('../../../content/fonts/Yellowtail-Regular.ttf') format('truetype');
}
//==========================================================================
//Navbar
//==========================================================================
.navbar-version {
  color: #ccc;
  font-size: 10px
}

.jh-navbar {
  background-color: $color-navbar-background-lower;
  padding: 0 $padding-navbar-leftright;
  .profile-image {
      border-radius: 50%;
      height: 40px;
      margin: -10px 0px;
      width: 40px;
    }
  .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
  .dropdown-toggle::after {
        margin-left: 0.15em;
    }
  ul.navbar-nav {
        .nav-item {
            margin-left: 0;
        }
    }
  a.nav-link {
        font-weight: 400;
    }
  .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: $color-navbar-text;
        }
    }
}

.navbar-desk {
    background-color: $color-navbar-background-higher;
    height: $height-navbar-higher;
    width: 100%;
    padding-right: $padding-navbar-leftright;
    a{
    margin-right: 8px;
        color: $color-navbar-text-desk;
        font-size: 10px;
        font-weight: 600;
        line-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
        transition: .7s ease;
        padding-left: 8px;
    }
    a:hover{
        color: $color-navbar-text;
        transition: .7s linear;
    }
}

@include media('screen', '>smWidth') {
  .jh-navbar-toggler {
    display: none;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 3rem .5rem 2rem;
  }
}

@include media('screen', '<smWidth') {
  .navbar-dark .navbar-nav .nav-link {
    padding: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .jh-logo-container {
    width: 100%;
  }
}

.navbar-title {
    display: inline-block;
    font-family: 'title', sans-serif;
    font-size: $size-navbar-text-title;
    font-weight: 500;
    padding-bottom: 0;
    vertical-align: middle;
    transition: .6s;
}

.navbar-subtitle {
    @extend %font-family-uppercase;
    color: $color-navbar-text;
    font-size: $size-navbar-text-subtitle;
    font-weight: normal;
    letter-spacing: 10px;
    text-align: center;
    transition: .6s;
}

.navbar-dark .navbar-nav .nav-link {
    color: $color-navbar-text;
    font-size: $size-navbar-text-item;
    font-weight: bold;
    height: 100%;
    transition: .5s;
    white-space: nowrap;
    @extend %font-family-uppercase;
    span {
        transition: .4s;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: $color-navbar-active;
}

.navbar-dark .navbar-nav .active {
  background-color: $color-navbar-active;
}

.toolbar{
    background: url('../../../content/images/toolbar_shadow.png') no-repeat;
    background-size: contain;
    height: 21px;
    left: 0;
    z-index: 1;
    position: absolute;
    top: $height-navbar-higher;
    width: 100%;
}

.lower{
    transition: 1s;
    .navbar-title{
        font-size: $size-navbar-text-title - 5px;
        transition: .6s;
     }
    .navbar-subtitle{
        font-size: $size-navbar-text-subtitle - 5px;
        transition: .6s;
    }
    .nav-link{
        padding: 2rem .5rem 1.4rem !important;
        span {
            transition: .4s;
            font-size: 11px;
        }
    }
}
nav{
    transition: 1s;
}

//==========================================================================
//Logo styles
//==========================================================================
.navbar-brand {
  &.logo {
    padding: 5px 15px;

    .logo-img {
      background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
      background-size: contain;
            display: inline-block;
            height: 45px;
            vertical-align: middle;
            width: 70px;
        }
    }
}
