@import '../../../content/scss/variables';

@font-face {
  font-family: 'title';
  src: url('../../../content/fonts/Yellowtail-Regular.ttf') format('truetype');
}
//==========================================================================
//Navbar
//==========================================================================
.navbar-version {
  color: #ccc;
  font-size: 10px;
}


.jh-navbar {
  background-color: $color-navbar-background-lower;
  padding: 0 $padding-navbar-leftright;

  .profile-image {
    border-radius: 50%;
    height: 40px;
    margin: -10px 0;
    width: 40px;
  }

.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
   background-color: #353d47;
}

  .dropdown-toggle::after {
        margin-left: .15em;
    }
  ul.navbar-nav {
        .nav-item {
            margin-left: 0;
        }
    }
  a.nav-link {
        font-weight: 400;
    }
  .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: $color-navbar-text;
        }
    }
}


.navbar-desk {
    background-color: $color-navbar-background-higher;
    height: $height-navbar-higher;
    padding-right: $padding-navbar-leftright;
    transition: all .7s ease;
    width: 100%;
    a{
        color: $color-navbar-text-desk;
        font-size: 10px;
        font-weight: 600;
        line-height: 30px;
        margin-right: 8px;
        padding-left: 8px;
        text-decoration: none;
        text-transform: uppercase;
    }
    a:hover{
        color: $color-navbar-text;
    }
}

@include media('screen','<smWidth'){
    .navbar-desk {
        padding-right: 0%;
    }
    .jh-navbar{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@include media('screen','<mdWidth','>smWidth'){
    .navbar-desk {
        padding-right: $padding-navbar-leftright - 10%;
    }
    .jh-navbar{
        padding-left: $padding-navbar-leftright - 10%;
        padding-right: $padding-navbar-leftright - 10%;
    }
}

@include media('screen', '>smWidth') {
  .jh-navbar-toggler {
    display: none;
  }
  //dlugi navbar
  //.navbar-dark .navbar-nav .nav-link {
  //  padding: 3rem .5rem 2rem;
  //}
}

@include media('screen', '<smWidth') {
  .navbar-dark .navbar-nav .nav-link {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 992px) {
  .jh-logo-container {
    width: 100%;
  }
}

.navbar-title {
  display: inline-block;
  font-family: 'title', sans-serif;
  font-size: $size-navbar-text-title;
  font-weight: 500;
  padding-bottom: 0;
  transition: .6s;
  vertical-align: middle;
}

.navbar-subtitle {
  @extend %font-family-uppercase;
  color: $color-navbar-text;
  font-size: $size-navbar-text-subtitle;
  font-weight: normal;
  letter-spacing: 10px;
  text-align: center;
  transition: .6s;
}

.navbar-dark .navbar-nav .nav-link {
  @extend %font-family-uppercase;
  color: $color-navbar-text;
  font-size: $size-navbar-text-item;
  font-weight: bold;
  height: 100%;
  transition: .5s;
  white-space: nowrap;
}

.navbar-nav .nav-link > span {
  transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: $color-navbar-active;
}

.navbar-dark .navbar-nav .active {
  background-color: $color-navbar-active;
}

.toolbar {
  background: url('../../../content/images/toolbar_shadow.png') no-repeat;
  background-size: contain;
  height: 21px;
  left: 0;
  position: absolute;
  top: $height-navbar-higher;
  width: 100%;
  z-index: 1;
}

.lower {
  transition: 1s;

  .navbar-title {
    font-size: $size-navbar-text-title - 5px;
    transition: .6s;
  }

  .navbar-subtitle {
    font-size: $size-navbar-text-subtitle - 5px;
    transition: .6s;
  }

  .nav-link {
    //dluzsze linki
    //padding: 2rem .5rem 1.4rem !important;

    span {
      font-size: 11px;
      transition: .4s;
    }
  }
}

nav {
  transition: 1s;
}

.slidedown,
.slideup {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  -moz-transition: max-height .5s ease-in-out;
  -o-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

.slidedown {
  max-height: $height-navbar-higher ;
}
//==========================================================================
//Logo styles
//==========================================================================
.navbar-brand {
  &.logo {
    padding: 5px 15px;

    .logo-img {
      background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
      background-size: contain;
      display: inline-block;
      height: 45px;
      vertical-align: middle;
      width: 70px;
    }
  }
}
