
//==========================================================================
//Main page styles
//==========================================================================

.hipster {
  background: url('../../content/images/hipster.png') no-repeat center top;
  background-size: contain;
  display: inline-block;
  height: 497px;
  width: 347px;
}
//wait autoprefixer update to allow simple generation of high pixel density media query
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
  .hipster {
    background: url('../../content/images/hipster2x.png') no-repeat center top;
    background-size: contain;
    }
}

//==========================================================================
//Carousel styles
//==========================================================================

img{
    cursor: default;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
