<div class="home-container">
    <jhi-carousel></jhi-carousel>
    <div class="message-home">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <h2>Sprowadzanie aut z USA</h2>
            </div>
            <div class="col-lg-4 col-md-5">
                <button class="btn btn-message float-right">Skontaktuj się</button>
            </div>
        </div>
    </div>
    <div class="message-shadow"></div>
    <div class="content">
        <div class="row first-block vertical-align">
            <div class="col-md-6 text-center">
                <img src="../../content/images/auto-automobile-automotive-240833.jpg"
                     class="image-home-1 img-thumbnail img-responsive wow fadeInLeft"
                     (click)="open($event)"
                     alt="Obrazek home page pierwszy po lewej stronie">
            </div>
            <div class="col-md-6 wow fadeInRight justify">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorum excepturi fugiat laborum
                    natus quas qui! Doloremque ea in non officia perspiciatis reiciendis, saepe sed ut. Aut doloremque
                    ducimus sapiente.
                </div>
                <div>Ab assumenda, deleniti dicta eaque et exercitationem facere fuga mollitia necessitatibus nisi
                    perferendis quas repudiandae sunt tenetur voluptatem? A autem ea est eum modi necessitatibus
                    obcaecati
                    quibusdam recusandae sed sunt!
                </div>
            </div>
        </div>
    </div>
    <div class="home-belka">
    </div>
    <div class="content">
        <div class="row second-block vertical-align">
            <div class="col-md-6 wow fadeInLeft justify">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur deserunt dignissimos ea
                    facere modi quis quod rem? Aperiam debitis dicta eaque, libero magnam placeat quam quidem, quod,
                    ratione sed tempore.
                </div>
                <div>Aspernatur dolorum eum illum impedit mollitia nostrum qui quo recusandae suscipit tenetur! Aut
                    autem cumque excepturi fugit harum hic, illo molestiae omnis optio quasi quidem quisquam sint sit ut
                    vero.
                </div>
            </div>

            <div class="col-md-6 wow fadeInRight text-center">
                <img src="../../content/images/car-close-up-gauge-104836.jpg"
                     class="image-home-1 img-thumbnail img-responsive wow fadeInLeft"
                     (click)="open($event)"
                     alt="Obrazek home page drugi po prawej stronie">

            </div>
        </div>
    </div>
</div>
