@import '../../../content/scss/variables';

.procedure-banner {
    background: #000 center 0;
    border-bottom: solid 2px #fff;
    text-shadow: 2px 2px #2f2f2f;
    color: white;
    height: 302px;
    position: relative;
}

.image-banner {
    background: url('../../../content/images/procedura_banner.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-caption {
    padding-top: 185px;
    right: 0;
}
@include media('<smWidth') {
    .banner-caption {
        padding-top: 170px;
    }
}

.banner-text {
    padding: 15px;
    text-shadow: 2px 2px 3px black;
}

.banner-text h2 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 34px;
    font-weight: 700;
}

.banner-text h4 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
.admin-button {
    border: 3px solid
}
.procedure-belka {
    background: url('../../../content/images/auto-automobile-automotive-305070.jpg') no-repeat fixed center top;
    background-size: cover;
    height: 400px;
    opacity: 0.2;
    width: 100%;
    margin: -100px 0 0;
    position: absolute;
}
.content.icons {
    margin: 0;
}

.main-text{
    margin-bottom: 150px;
}


.third-col{
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .procedure-belka{
        height: 650px;
    }
    .second-col{
        padding-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .procedure-belka{
        height: 500px;
    }
    .third-col{
        padding-top: 0;
    }
}

.fix{
    height: 50px;
}
