@import '../../../content/scss/variables';

.car-banner {
    background: #000 center 0;
    border-bottom: solid 2px #fff;
    color: white;
    height: 302px;
    position: relative;
}

.image-banner {
    background: url('../../../content/images/samochody_banner.jpg') center no-repeat;
}

.banner-caption {
    padding-top: 185px;
}

.banner-text {
    padding: 15px;
    text-shadow: 2px 2px 3px black;
}

.banner-text h2 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 34px;
    font-weight: 700;
}

.banner-text h4 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.title {
    font-weight: bold;
    font-size: $size-navbar-text-title;
}

.back {
    padding-left: 10px;
}

.spec {
    line-height: 18px;
    color: #3d3d3d;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    border: 0;
    font-size: larger;
}

.detail-title {
    font-weight: bold;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
}

.description {
    font-weight: bold;
    font-size: 23px;
}

.img-car{
    height: 400px;
    width: 600px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .img-car{
        height: 300px;
        width: 450px;
        cursor: pointer;
    }
}

@include media('<xsWidth') {
    .img-car{
        height: 250px;
        width: 300px;
        cursor: pointer;
    }
}


.data{
    font-size: 18px;
}

.description-row{
    margin-left: 0;
    margin-bottom: 20px;
}

.car-edit-button{
    margin-bottom: 20px;
}

.loading-car{
    font-size: larger;
}
