<div class="car-banner image-banner">
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-sm-6 banner-caption">
                <div class="banner-text">
                    <h2 jhiTranslate="webDealerApp.car.detail.title">Samochód</h2>
                    <h4 jhiTranslate="webDealerApp.car.detail.subtitle">Szczegóły</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message-shadow"></div>
<div *ngIf="car ; else noCars">


    <br/>

    <div class="content">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <div class="row">
            <div class="col col-md-6">
                <div class="title">
                    {{car?.make}}&nbsp;{{car?.model}}
                </div>
                <div class="spec">{{car?.price}} zł</div>
            </div>
            <div class="col col-md-6 data">
                <div class="pull-right">
                <div class="description"><span jhiTranslate="webDealerApp.car.detail.added">Dodano</span></div>
                <i class="data">{{car.created | date:'longDate'}}</i>
                </div>
            </div>
        </div>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <div>
            <div style="margin-bottom: 70px">
                <div *ngIf="car.images.length > 0; else noImg">
                    <div class="img-car">
                        <ul id="imageGallery">
                            <li *ngFor="let image of car.images" [attr.data-thumb]="'/images/cars/' + car.id + '/thumbnails/' + image.name + '.png'" [attr.data-src]="'/images/cars/' + car.id + '/larges/' + image.name + '.png'">
                                <img class="img-thumbnail img-responsive img-car" [src]="'/images/cars/' + car.id + '/mediums/' + image.name + '.png'" style="max-width: 100%;"  />
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-template #noImg>
                    <img class="img-thumbnail img-responsive img-car"
                         [src]="'/images/cars/No image.png'"
                         style="cursor: default"
                         alt="car image"/>
                </ng-template>
            </div>
            <div style="border: 1px solid; padding-left: 10px">
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span jhiTranslate="webDealerApp.car.detail.year">Rok produkcji</span>:
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.year}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span jhiTranslate="webDealerApp.car.detail.broken">Uszkodzony</span>:
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.broken ? 'Tak': 'Nie'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <span class="detail-title">Skrzynia biegów:</span>
                    </div>
                    <div class="col col-xs-6">
                        <span [hidden]="gear === 'MANUAL'" class="pull-right"
                              jhiTranslate="webDealerApp.Gear.AUTOMATIC">Automatyczna</span>
                        <span [hidden]="gear === 'AUTOMATIC'" class="pull-right"
                              jhiTranslate="webDealerApp.Gear.MANUAL">Manualna</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span
                            jhiTranslate="webDealerApp.car.detail.version">Wyposażenie</span>:
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.version}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span jhiTranslate="webDealerApp.car.detail.capacity">Pojemność</span>:
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.capacity}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span jhiTranslate="webDealerApp.car.detail.power">Moc (KM)</span>:
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.power}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span jhiTranslate="webDealerApp.car.detail.color">Kolor</span>:</div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.color}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <div class="detail-title"><span
                            jhiTranslate="webDealerApp.car.detail.mileage">Przebieg (KM)</span>:
                        </div>
                    </div>
                    <div class="col col-xs-6">
                        <span class="pull-right">{{car?.mileage}}</span>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>
        <div class="row description-row" *ngIf="car.description">
            <br>
            <div class="col col-xs-12">
                <p class="description"><span jhiTranslate="webDealerApp.car.detail.description">Opis</span>:</p>
                <span class="justify" [innerHTML]="car.description | safeHTML"></span>
            </div>
            <br>
        </div>
        <div class="text-center car-edit-button" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <br/>
            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
<ng-template #noCars>
    <span jhiTranslate="webDealerApp.car.noCars" class="text-center loading-car">Wczytywanie podglądu samochodu...</span>
</ng-template>
