<div class="car-banner image-banner">
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-sm-6 banner-caption">
                <div class="banner-text">
                    <h2>Samochody</h2>
                    <h4 [hidden]="!received" jhiTranslate="webDealerApp.car.home.subtitle">Na miejscu</h4>
                    <h4 [hidden]="received" jhiTranslate="webDealerApp.car.shipping.home.subtitle">W drodze</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="message-shadow"></div>

<div class="content">
    <div class="row car-nav">
        <div class="col-sm-6 col-6">
            <a class="btn car-nav-btn float-right" routerLink="/car" [ngClass]="{active:received}">
                <span>Na miejscu</span>
            </a>

        </div>
        <div class="col-sm-6 col-6" style="padding-left: 3px">
            <a class="btn car-nav-btn" routerLink="/car-shipping" [ngClass]="{active:!received}">
                <span>W drodze</span>
            </a>
        </div>
    </div>
    <h2>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-car"
                [routerLink]="['/' , { outlets: { popup: 'car-new/' + (received | shipped)  } }]">
            <span class="fa fa-plus"></span>
            <span [hidden]="!received" jhiTranslate="webDealerApp.car.home.createLabel">Create new Car</span>
            <span [hidden]="received" jhiTranslate="webDealerApp.car.shipping.home.createLabel">Create new Car</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <br/>
    </div>
    <div *ngIf="cars?.length;then exist else empty"></div>
    <ng-template #exist>
        <div jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <button class="btn btn-default" jhiSortBy="make"><span jhiTranslate="webDealerApp.car.make">Make</span>
                <span
                    class="fa fa-sort">
                </span>
            </button>
            <button class="btn btn-default" jhiSortBy="model"><span jhiTranslate="webDealerApp.car.model">Model</span>
                <span
                    class="fa fa-sort">
                </span>
            </button>
            <button class="btn btn-default" jhiSortBy="price"><span jhiTranslate="webDealerApp.car.price">Price</span>
                <span
                    class="fa fa-sort">
                </span>
            </button>
            <button class="btn btn-default" jhiSortBy="year"><span jhiTranslate="webDealerApp.car.year">Year</span>
                <span
                    class="fa fa-sort">
                </span>
            </button>
            <button class="btn btn-default" jhiSortBy="lastModifiedDate"><span jhiTranslate="webDealerApp.car.date">Data</span>
                <span
                    class="fa fa-sort">
                </span>
            </button>
        </div>
        <ng-container *ngFor="let car of cars; trackBy: trackId">
            <jhi-car-entry [car]="car" [received]="received"></jhi-car-entry>
        </ng-container>
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </ng-template>
    <ng-template #empty>
        <h2>Brak wyników</h2>
    </ng-template>
</div>
</div>
