@import '../../../content/scss/variables';


.car-banner{
    background: #000 center 0;
    border-bottom: solid 2px #fff;
    color: white;
    height: 302px;
    position: relative;
}

.image-banner{
    background: url('../../../content/images/samochody_banner.jpg') center no-repeat;
}

.banner-caption{
    padding-top: 185px;
}
.banner-text{
    padding: 15px;
    text-shadow: 2px 2px 3px black;
}

.banner-text h2{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 34px;
    font-weight: 700;
}

.banner-text h4{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
}
