@import '../../../content/scss/variables';


.car-banner{
    background: #000 center 0;
    border-bottom: solid 2px #fff;
    color: white;
    height: 302px;
    position: relative;
}

.image-banner{
    background: url('../../../content/images/samochody_banner.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-caption{
    padding-top: 185px;
}
.banner-text{
    padding: 15px;
    text-shadow: 2px 2px 3px black;
}

.banner-text h2{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 34px;
    font-weight: 700;
}

.banner-text h4{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.clear-button {
    cursor: pointer;
}
.car-nav{
    margin-top: 5px;
}

.car-nav-btn.active{
    color: #fff;
    background-color: $color-navbar-active;
    border-color: $color-navbar-active;
}
.car-nav-btn.active > span{
    color: white;
}

.car-nav-btn {
    color: $color-navbar-active;
    background-color: transparent;
    background-image: none;
    border-color: $color-navbar-active;
    font-size: larger;
}

@media screen and (max-width: 390px){
    .car-nav-btn {
        color: $color-navbar-active;
        background-color: transparent;
        background-image: none;
        border-color: $color-navbar-active;
        font-size: small;
    }
}

.car-nav-btn:hover {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    background-color: $color-navbar-active;
    border-color: $color-navbar-active;
}
