<div class="home-container">
    <jhi-carousel></jhi-carousel>
    <div class="message-home">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <h2>{{home?.homeLabel}}</h2>
            </div>
            <div class="col-lg-4 col-md-5">
                <button routerLink="contact" class="btn btn-message float-right">Skontaktuj się</button>
            </div>
        </div>
    </div>
    <div class="message-shadow"></div>
    <div class="content">
        <div class="btn btn-group" *jhiHasAnyAuthority="['ROLE_ADMIN']">
            <div [routerLink]="['/', { outlets: { popup: 'carousel/edit'} }]" class="btn btn-primary" style="border: 3px solid"><i class="fas fa-pencil-alt"></i>&nbsp;Edytuj carousel</div>
            <div [routerLink]="['/', { outlets: { popup: 'home/edit'} }]" class="btn btn-primary" style="border: 3px solid"><i class="fas fa-pencil-alt"></i>&nbsp;Edytuj teksty</div>
        </div>
        <div class="row first-block vertical-align">
            <div class="col-md-6 text-center">
                <img src="../../../content/images/auto-automobile-automotive-240833.jpg"
                     class="image-home-1 img-thumbnail img-responsive wow fadeInLeft"
                     (click)="open($event)"
                     alt="Obrazek home page pierwszy po lewej stronie">
            </div>
            <div class="col-md-6 wow fadeInRight justify">
                {{home?.firstParagraph}}
            </div>
        </div>
    </div>
    <div>
        <div class="home-belka"></div>
    </div>
    <div class="row text-center content" style="margin: 0">
        <div class="col-md-6 col-lg-4 col-xs-12 col-sm-12 wow zoomIn first-col">
            <p>
                <i routerLink="car-shipping" class="fas fa-road home-icon"></i>
            </p>
            <p routerLink="car-shipping" class="icon-title">{{home?.firstIcon}}</p>
            <span class="icon-description">{{home?.firstIconSubtitle}}</span>
        </div>
        <div class="col-md-6 col-lg-4 col-xs-12 col-sm-12 wow zoomIn second-col">
            <p>
                <i routerLink="car" class="fas fa-flag-checkered home-icon"></i>
            </p>
            <p class="icon-title" routerLink="car">{{home?.secondIcon}}</p>
            <span class="icon-description">{{home?.secondIconSubtitle}}</span>
        </div>
        <div class="col-md-6 col-lg-4 col-xs-12 col-sm-12 wow zoomIn third-col">
            <p>
                <i routerLink="contact" class="fas fa-phone home-icon"></i>
            </p>
            <p class="icon-title" routerLink="contacts">{{home?.thirdIcon}}</p>
            <span class="icon-description">{{home?.thirdIconSubtitle}}</span>
        </div>
    </div>
    <div class="content">
        <div class="row second-block vertical-align">
            <div class="col-md-6 wow fadeInLeft justify">
                {{home?.secondParagraph}}
            </div>

            <div class="col-md-6 wow fadeInRight text-center">
                <img src="../../../content/images/car-close-up-gauge-104836.jpg"
                     class="image-home-1 img-thumbnail img-responsive wow fadeInLeft"
                     (click)="open($event)"
                     alt="Obrazek home page drugi po prawej stronie">

            </div>
        </div>
    </div>
</div>
