@import '../../../content/scss/variables';


agm-map {
  height: 400px;
    border-bottom: solid 2px #fff;
}

.contact-banner{
    background: #000 center 0;
    border-bottom: solid 2px #fff;
    text-shadow: 2px 2px #2f2f2f;
    color: white;
    height: 302px;
    position: relative;
}

.image-banner{
    background: url('../../../content/images/contact_banner.jpg') center no-repeat;
}

.banner-caption{
    padding-top: 185px;
    right: 0;
}
.banner-text{
    padding: 15px;
    text-shadow: 2px 2px 3px black;
}

.banner-text h2{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 34px;
    font-weight: 700;
}

.banner-text h4{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.contact-title{

}
