<div class="contact-banner image-banner">
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-sm-6 banner-caption">
                <div class="banner-text">
                    <h2 jhiTranslate="webDealerApp.contact.detail.title">Kontakt</h2>
                    <h4 jhiTranslate="webDealerApp.contact.detail.subtitle">Zamów swój wymarzony samochód</h4>
                </div>
            </div>
        </div>
    </div>
</div>
Home(firstParagraph, secondParagraph, firstIcon, secondIcon, thirdIcon, homeLabel) | Carousel(title, subtitle)

<div class="message-shadow"></div>
<button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary contact-button" jhiTranslate="webDealerApp.contact.edit" [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"></button>
<div class="contact-info">
    <h2 class="margin-bottom-25 margin-top-none contact-title"><strong jhiTranslate="webDealerApp.contact.tab.main.title">Informacje kontaktowe</strong></h2>
    <div class="contact-container">
        <h3>{{contact?.name}} {{contact?.surname}}</h3>
        <ul class="margin-bottom-none info-container">
            <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;<strong jhiTranslate="webDealerApp.contact.tab.main.address">
                Adres:</strong> <span>{{contact?.address}}, {{contact?.city}}</span></li>
            <li><i class="fa fa-phone"></i>&nbsp;<strong jhiTranslate="webDealerApp.contact.tab.main.phone">Telefon:</strong>
                <a href="tel:{{contact?.phone}}">{{contact?.phone}}</a>
            </li>
            <li class="padding-bottom-none"><i class="fa fa-envelope"></i>&nbsp;<strong
                jhiTranslate="webDealerApp.contact.tab.main.email">Email:</strong>
                <a href="mailto:{{contact?.email}}">{{contact?.email}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="message-shadow"></div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" #agm>
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
